h1 {
  color: #000;
}

/* media query css */
@media (max-width: 540px) {
  h1 {
    color: red;
    background-color: yellow;
  }
}
@media (max-width: 768px) {
  h1 {
    color: green;
    background-color: red;
  }
}
