.box {
  height: 200px;
  width: 200px;
  /* animation-name: box;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
  animation: box 3s infinite;
}

/* animation box */
@keyframes box {
  /* from{
        margin-left: 0px;
    }

    to{
        margin-left: 100px;
        background-color: blue; 
        border-radius: 50px;
        height: 16px;
        width: 16px;
    } */
  0% {
    background-image: url("../media/assets/images/bg.jpg");
    background-size: cover;
  }

  50% {
    background-image: url("../media/assets/images/image1.jpg");
    background-size: cover;
  }

  100% {
    background-image: url("../media/assets/images/user.jpeg");
    background-size: cover;
  }
}
