.box {
  height: 80px;
  width: 80px;
  background-color: red;
  /* animation-name: box;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
  animation: box 3s infinite;
}

/* animation box */
@keyframes box {
  /* from{
        margin-left: 0px;
    }

    to{
        margin-left: 100px;
        background-color: blue; 
        border-radius: 50px;
        height: 16px;
        width: 16px;
    } */
  /* 0% {
    background-image: url("../media/assets/images/bg.jpg");
    background-size: cover;
  }

  50% {
    background-image: url("../media/assets/images/image1.jpg");
    background-size: cover;
  }

  100% {
    background-image: url("../media/assets/images/user.jpeg");
    background-size: cover;
  } */
   0% {
    margin-left: 0px;
    margin-top: 0px;
   }
   20%{
    margin-top: 0px;
    margin-left: 100px;
   }
   40%{
    margin-left: 100px;
    margin-top: 100px;
   }
   60%{
    margin-left: 100px;
    margin-top: 0px;
   }
   80%{
    margin-left: 100px;
    margin-top: 0px;
   }
   100%{
    margin-left: 0px;
    margin-top: 0px;
   }
}
